pip-selfcheck.json
.idea
.Python
submissions
*.pyc
.vscode
bin
lib
include

preprocessing/order_song_playlists\.py
pyvenv.cfg

raw_data/original_csv/\.~lock\.train\.csv#

Cython/SLIM_BPR/build
Cython/SLIM_BPR/SLIM_BPR_Cython_Epoch\.c
Cython/SLIM_BPR/SLIM_BPR_Cython_Epoch\.html


raw_data/saved_r_hat/

raw_data/saved_r_hat_evaluation/

models_validation/
validation_results/
submission/

cythoncompiled/build
